/* Index */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #b7b7b725;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

nav img {
  max-width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: start;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #74d2e7;
}


.carousel {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

.carousel img {
  height: 350px;
  display: block;
  object-fit: cover;
}

.card-group {
  max-width: 55%;
  text-align: center;

}

/*--//collection--*/

/*--about--*/
.ab-content-img {
    background: url(../img/banner1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 27em;
}

.title-wthree,
.title-wthree.two {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.7em;
    font-weight: 600;
}

.title-wthree.two {
    color: #fff;
}

.ab-content h4 {
    font-size: 1.2em;
    color: #4c4d4e;
    margin: 2em 0 1em 0;
    text-transform: uppercase;
    font-weight: 600;
}

.ab-info-con {
    padding: 0 0.5em;
}

.ab-info-con.ab-inf-page h4 {
    font-size: 1.4em;
    color: #4c4d4e;
    margin: 0em 0 1.2em 0;
    text-transform: uppercase;
    font-weight: 600;
}

.ab-info-con.ab-inf-page {
    margin-top: 7em;
}

/*--//about--*/

/* gallery page */

.gal-img img,
.popup img {
  width: 100%;
}

/* popup */
.popup-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.popup-effect:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 4px;
  max-width: 430px;
  position: relative;
  margin: 8em auto;
  padding: 3em 2em;
  z-index: 999;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}


/* //popup */
/* //gallery page */

/*--/newsletter--*/
.newsletter-w3pvt {
  height: 450px;
  max-height: 300px;
}

.newsletter-w3pvt,
.collections {
  background: #f7f7f7;
}

.newsletter-w3pvt form {
  margin: 0 auto;
  width: 60%;
}

.newsletter-w3pvt p {
  font-size: 1.2em;
  color: #777;
  font-weight: 600;
}

.subscribe-sec input {

  padding: 0.85em 1em;
  color: #495057;
  border-radius: 0.25rem;
  font-size: 0.9em;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.submit {
  background: #74d2e7;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #fff;
  padding: 0.8em 3em;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: 600;
  -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.submit:hover,
.btn.shop:hover {
  opacity: 0.9;
}

/*--//newsletter--*/

/*--/mid--*/

.mid-section {
  margin-top: 5px;
}

.bottom-w3pvt-left {
  position: relative;
}

h4.text-wthree {
  font-size: 2em;
  color: #fff;
  font-weight: 300;
}

.pos-wthree {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.pos-w3pvt {
  right: 10%;
  position: absolute;
  bottom: 20%;
}

h4.text-w3pvt {

  font-size: 2em;
  color: #fff;
  font-weight: 300;
}

/*--//mid--*/

/*instagram */

.instagram {
  border: #000000;
  border-radius: 2px;
  margin-top: 50px;
}

.instagram h4 {
  text-align: center;
  margin-bottom: 5px;
}

.instagram iframe {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

/* text header*/

.banner-bottom-py-5{

  background-color: rgba(187, 187, 187, 0.274);
  

}

/*Fin Index*/

